@media only screen and (max-width: 960px) {
    nav#menu{
        width: 100vw;
        text-align: left;
        font-size: 1.2rem;
        padding: 0 5px;
    }

    header nav#menu a{
     padding: 5px; 
     margin: 0 5px; 
}

.boxwrapper{
    width: 90vw;
}



#goodProps .boxwrapper div#trust,#goodProps .boxwrapper div#precise,#goodProps .boxwrapper div#creative{
   display: block;
    width: 100vw;
    margin-top: 10px;
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 30px;
    background-color: #ccc;
    color: #000;
    text-align: center;
    box-shadow: 10px 10px 30px #000;
}

.munkaim .projects{
    width: 100%;
}

.munkaim .projects .pictureWrapper{
    display: block;
    width: 100%;
    margin-top: 10px;
}

.munkaim .projects .pictureWrapper img{
    display: block;
    width: 100%;
    
}

.munkaim .projects .descWrapper{
    display: block;
    width: 100%;
    margin-top: 10px;
}

.gallery.content article .galleryWrapper .imgWrapper{
    width: 100vw;
    margin: 15px;
    box-shadow: 10px 10px 40px #000;
}

.imgWrapper img{
    width: 100vw;
}

.form #formContainer {
width: 90vw;

}
.form #formContainer .inputContainer input{
    width:90%;
    margin-left: 15px;
}
}

body {
    background-image: url("/images/bg.jpg");
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #000;
}

header nav#menu{
    width: 100vw;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 60px;
    font-size: 1.5rem;
    padding: 0 15px;
}

 h1{
    margin-top: 40px;
    font-size: 30px;
}

nav#menu{
    text-align: center;
    background-color: #000;
}

nav a{
position: relative;
top: 15px;
margin: 15px;
padding: 10px;
border: 1px solid #3f3e3e;
border-radius: 10px;
text-decoration: none;
background-color: #3f3e3e;
color: #fff;
}

nav a:hover{
    
    background-color: #ff0000;
}

.image-wrapper{
    box-sizing: border-box;
    text-align: center;
}

.image-wrapper img{
    width: 300px;
    margin: 5px;
}

.content section:first{
    margin-top: 60px;
    padding: 10px;
   
}

#header h1{
    text-align: left;
    margin-top: 60px;
    padding: 10px;
}

#header h1.homeTitle{
    text-align: left;
}

#persinfo p{
    width: 98%;
    margin-top: 10px;
    padding: 40px;
    border: solid 1px #fff;
    border-radius: 25px;
    background-color: rgb(238, 234, 233);
    color: #000;
}

.boxwrapper{
    margin: 20px 0;
    box-sizing: border-box;
}



.boxwrapper div#trust,.boxwrapper div#precise,.boxwrapper div#creative{
    
    display: inline-block;
    width: 30%;
    margin-left: 10px;
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 30px;
    background-color: #ccc;
    color: #000;
    text-align: center;
    box-shadow: 10px 10px 30px #000;
    box-sizing: border-box;
}

.boxwrapper div#trust h2, .boxwrapper div#precise h2, .boxwrapper div#creative h2{
    color: #ff0000;
    text-align: center;
}
main .munkaim p{
    margin-top: 10px;
    text-align: center;
}

.projects{
    width: 90%;
    margin: 15px 0 10px 20px;
    padding: 15px 15px;
    background-color: cornsilk;
    box-sizing: border-box;

}

.projects .pictureWrapper{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    box-sizing: border-box;
}

.projects .pictureWrapper img{
    width: 200px;
}

.projects .descWrapper{
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.galleryWrapper .imgWrapper{
    position: relative;
    display: inline-block;
    width: 30vw;
    padding: 0 10px;
    box-sizing: border-box;
    
}

.galleryWrapper .imgWrapper img{
    width: 100%;
    
}

#biggerimg{
    width: 400px;
    position: relative;
    top: 60px;
}

.about{
    text-align: center;
    background-color: burlywood;
    padding: 15px;
    margin: 20px 5px 20px 5px;
    line-height: 1.9rem;
}


.about h2, .about h3{
    margin-top: 15px;
    color: #fff;
}



#formContainer {
    width: 60%;
    height: auto;
    margin: 5px auto;
    background-color: rgb(27, 3, 34);
    opacity: 0.9;
    font-size: 1.5rem;
}

.inputContainer{
    padding: 20px;
    width: 90%;
   
}

.inputContainer p {

    text-indent: 10px;
}

.inputContainer.text, .inputContainer.text input {
    font-size: inherit;
    display: block;
    width: 90%;
    margin: 15px 5px;
    padding: 10px 10px;
}

.inputContainer #comment {
    text-align: left;
    width: 90%;
    height: 50px;
    margin: auto 5px;
}

.inputContainer.submit {
   margin: 0 auto;
    text-align: center;
    font-size: inherit;
}

.inputContainer.submit input {
   display: block;
   width: 90%;
   background-color: #48d1cc;
   color: #ffffff;
   padding: 15px;
   font-size: inherit;
   
}

footer #footermenu{
    font-size: .5rem;
    background-color: #000;
    color: #fff;
    width: 100vw;
    position: relative;
    bottom: 0;
    left: 0;
    height: 60px;
    text-align: center;
}

footer #footermenu a{
    position: relative;
    top: 25px;
}

#upArrow{
    background-color: rgba(240, 255, 255, 0.349);
    padding: 10px;
    border: azure 1px solid;
    border-radius: 50%;
    position: relative;
    top: 25px;
    left: 50vw;
}



