@media only screen and (max-width: 800px) {
    header nav#menu{
        width: 100vw;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 18vh;
        font-size: 1.5rem;
        padding: 0 10px;
    }

    header nav#menu a{
      margin-left: 10px;  
}

.boxwrapper{
    width: 90vw;
}



#goodProps .boxwrapper div#trust,#goodProps .boxwrapper div#precise,#goodProps .boxwrapper div#creative{
   display: block;
    width: 100vw;
    margin-top: 10px;
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 30px;
    background-color: #ccc;
    color: #000;
    text-align: center;
    box-shadow: 10px 10px 30px #000;
}

}


body {
    background-image: url("/images/bg.jpg");
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #000;
}

header nav#menu{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    font-size: 1.5rem;
    padding: 0 15px;
}

#header h1{
    margin-top: 40px;

}

nav{
    text-align: center;
    background-color: #000;
}

nav a{
position: relative;
top: 15px;
margin: 15px;
padding: 10px;
border: 1px solid #3f3e3e;
border-radius: 10px;
text-decoration: none;
background-color: #3f3e3e;
color: #fff;
}

nav a:hover{
    
    background-color: #ff0000;
}

.image-wrapper{
    text-align: center;
}

.image-wrapper img{
    width: 300px;
    margin: 5px;
}

.content section:first{
    margin-top: 60px;
    padding: 10px;
   
}

#header h1{
    margin-top: 60px;
    padding: 10px;
}

#persinfo p{
    width: 98%;
    margin-top: 10px;
    padding: 40px;
    border: solid 1px #fff;
    border-radius: 25px;
    background-color: rgb(238, 234, 233);
    color: #000;
}

.boxwrapper{
    margin: 20px 0;
}



.boxwrapper div#trust,.boxwrapper div#precise,.boxwrapper div#creative{
    
    display: inline-block;
    width: 30%;
    margin-left: 10px;
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 30px;
    background-color: #ccc;
    color: #000;
    text-align: center;
    box-shadow: 10px 10px 30px #000;
}

.boxwrapper div#trust h2, .boxwrapper div#precise h2, .boxwrapper div#creative h2{
    color: #ff0000;
    text-align: center;
}

footer nav{
    font-size: .8rem;
    width: 100vw;
    position: relative;
    bottom: 0;
    left: 0;
    height: 60px;
}

footer nav a{
    position: relative;
    top: 25px;
}

#upArrow{
    background-color: azure;
    padding: 10px;
    border: azure 1px solid;
    border-radius: 50%;
    position: relative;
    top: 25px;
    left: 50vw;
    text-align: right;
}


